* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    margin: 0;
}

#content {
    max-width: 80%;
    margin: 0 auto;
}

nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: cornflowerblue;
    padding-left: 10%;
    padding-right: 10%
}

form {
    height: 100%;
}

.nav-text {
    font-size: 0.9em;
    height: 100%;
    background-color: cornflowerblue;
    color: #F7FAFE;
    font-weight: bold;
    align-content: center;
    margin: 0;
}

.nav-button {
    display: inline-block;
    padding: 0 2rem;
    border: none;
    text-decoration: none;
}

.nav-button:hover {
    cursor: pointer;
    background-color: #F7FAFE;
    color: cornflowerblue;
    
}
